<%-include("../admin/leyouts/header.ejs")%>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                           
                            <h1 class="card-title">Add Offer</h1>
                            <p class="card-description">Add Category Offer Form</p>
                            <form id="form" class="forms-sample">
                                <div class="form-group">
                                    <label>coupon Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="name"
                                        style="color: white" required />
                                    <p style="color: red" id="nameLengthError"></p>
                                </div>
                                <div class="form-group">
                                    <label for="Catagory">Category</label>
                    
                                    <select class="form-select form-control" aria-label="Default select example" id="" name="category">
                                      <% if(categoryData.length> 0){
                    
                                        for( let i=0;i<categoryData.length;i++){ %>
                    
                                          <option value="<%= categoryData[i].name %>">
                                            <%= categoryData[i].name %>
                                          </option>
                    
                                          <% } }else{ %>
                    
                                            <option value="">No Categories</option>
                    
                                            <% } %>
                    
                                    </select>
                                  </div>
                                <div class="form-group">
                                    <label>Discount</label>
                                    <input type="number" class="form-control" id="discount" name="discount"
                                        placeholder="discount amount" style="color: white" required />
                                    <p style="color: red" id="discountError"></p>
                                </div>
                                <div class="form-group">
                                    <label>Activation Date</label>
                                    <input type="date" class="form-control" id="activation" name="activationDate"
                                        placeholder="activation date" style="color: white" required />
                                    <p style="color: red" id="activationErr"></p>
                                </div>
                                <div class="form-group">
                                    <label>Expire Date</label>
                                    <input type="date" class="form-control" id="expiryDate" name="expiryDate"
                                        placeholder="expire date" style="color: white" required />
                                    <p style="color: red" id="expirationErr"></p>
                                </div>
                                
                                <br />
                                <button id="addCategoryOffer" type="submit" class="btn btn-primary mr-2">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("addCategoryOffer").addEventListener("click", function (e) {
            e.preventDefault();
            const name = document.getElementById("name").value;
            const discount = document.getElementById("discount").value;
            const activationDate = document.getElementById("activation").value;
            const expiryDate = document.getElementById("expiryDate").value;

            const nameLengthError = document.getElementById("nameLengthError");
            const discountError = document.getElementById("discountError");
            const activationErr = document.getElementById("activationErr");
            const expirationErr = document.getElementById("expirationErr");

            if (name === "") {
                nameLengthError.textContent = "Coupon name is required.";
            } else if (name.length < 4) {
                nameLengthError.textContent =
                    "Coupon name must be at least 4 characters.";
            } else if (discount === "") {
                discountError.textContent = "Discount amount is required.";
            } else if (discount < 0) {
                discountError.textContent = "Discount amount must be positive.";
            } else if (activationDate === "") {
                activationErr.textContent = "Activation date is required.";
            } else if (expiryDate === "") {
                expirationErr.textContent = "Expiry date is required.";
            } else if (expiryDate < activationDate) {
                expirationErr.textContent =
                    "Expiry date must be greater than activation date.";
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to add this Offer ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/addCouponOffer",
                            data: {
                                name,
                                discount,
                                activationDate,
                                expiryDate,
                            },
                            method: "post",
                            success: (response) => {
                                 if (response.success) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 3000,
                                    });

                                    Toast.fire({
                                        icon: "success",
                                        title: "Coupon Offer Added.",
                                    });
                                    setTimeout(() => {
                                        window.location.href = "/admin/categoryOfferManagement";
                                    }, 3000);
                                }
                            },
                        });
                    }
                });
            }
        });
    </script>
    <script>
        const nameLengthError = document.getElementById("nameLengthError");
        const discountError = document.getElementById("discountError");
        const activationErr = document.getElementById("activationErr");
        const expirationErr = document.getElementById("expirationErr");

        const inputs = document.querySelectorAll("input");
        inputs.forEach((input) => {
            input.addEventListener("input", () => {
                nameLengthError.textContent = "";
                discountError.textContent = "";
                activationErr.textContent = "";
                expirationErr.textContent = "";
            });
        });
    </script>

    <%-include("../admin/leyouts/footer.ejs")%>