<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #aed1d1;
        }

        .login-container {
            text-align: center;
            padding: 50px;
            background-color: #9cc5c5;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 36px;
            color: #333;
            margin-bottom: 30px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group input[type="email"], .input-group input[type="password"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input-group button {
            background-color: #1f6f6f;
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
        }

        .input-group button:hover {
            background-color: #198585;
        }

        #error-text{
            font-family: system-ui;
            color: rgb(117 35 35);
            position: absolute;
            left: 895px;
            bottom: 290px;
            font-size: small;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <form action="" method="post">
        <h2>Admin Login</h2>
        <div class="input-group">
            <input type="email" name="email" id="username" placeholder="Email" required>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="input-group">
            <button type="submit">Login</button>
        </div>
        <% if(typeof message !== 'undefined'){ %>
            <h6 id="error-text"> <%= message %> </h6> 
          <% } %>
        </form>
    </div>

    
</body>

</html>
