<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/user/stylesheets/loginStyle.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <style>
    .swal2-toast {
	width: 800px; /* Adjust the width as needed */
	height: 70px; /* Adjust the height as needed */
	font-size: 18px;
	margin-top: 70px;
  }
  </style>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/user/images/login/picture-frame-with-abstract-art-by-pink-velvet-armchair.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <p style="font-size: xxx-large;">Log in</p>
              </div>
              <p class="login-card-description">Sign into your account</p>
              <form method="post" action="/login">
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="exampleInputEmail1" class="form-control" placeholder="Email address">
                    <div id="email-error" class="form-text" style="  display: none; font-family: system-ui; color: rgb(161 17 17)"></div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="exampleInputPassword1" class="form-control" placeholder="***********">
                    <div id="password-error" class="form-text" style=" display: none; font-family: system-ui; color: rgb(161 17 17)"></div>
                  </div>
                  <input name="login" id="log-btn-1" class="btn btn-block login-btn mb-4" type="submit" value="Login">
                </form>
                <a href="/forgetpage" class="forgot-password-link">Forgot password?</a>
                <p class="login-card-footer-text">Don't have an account? <a href="/signup" class="text-reset">Register here</a></p>
                <% if(regSuccess){ %>
                  <div id="myAlert" data-aos="fade-down" style="top: 6rem; display: none;"
                          class="alert alert-dark  py-4	 fade show fs-5 fixed-top alt text-center text-white"
                      role="alert">
                      <span class="text-info link-underline-light"><strong>Welcome!</strong> You are successfully registered your FurniCube account.
                        </span>
                  </div>
                  <% } %>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </main>
  <script>

    const inputs = document.querySelectorAll('input')
    const email_message = document.getElementById('email-error')
    const password_message = document.getElementById('password-error')
    
    inputs.forEach(input=>{
      input.addEventListener('input',function(){
        email_message.textContent = ""
        password_message.textContent = ""
      })
    })
    
    </script>
     <% if (typeof isBlocked !== 'undefined' && isBlocked) { %>
      <script>
        swal.fire({
          title: "Access Denied",
          text: "You do not have access to this account.",
          icon: "warning",
        });
      </script>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="/user/loginvalidation.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
