 <%- include("../user/leyouts/header.ejs")%>
 <body>
  
  <style>
	.swal2-toast {
	width: 800px; /* Adjust the width as needed */
	height: 70px; /* Adjust the height as needed */
	font-size: 18px;
	margin-top: 70px;
  }
  </style>
  <div id="log-img">
    <dive id="form-box">

      <form method="post" action="/login">
        <h2 id="log-in">LOG IN</h2>
        <div class="mb-3" id="ebox-1">
          <label for="exampleInputEmail1" class="form-label" style="font-family: system-ui">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="
                border-radius: 20px;
                border-radius: 20px;
                border-color: #ffffff;
                background-color: #ffffff;
              " />
          <div id="emailHelp" class="form-text" style="font-family: system-ui; color: #1e3936">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3" id="pbox-1">
          <label for="exampleInputPassword1" class="form-label" style="font-family: system-ui">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" style="
                border-radius: 20px;
                border-radius: 20px;
                border-color: #ffffff;
                background-color: #ffffff;
              "  />
        </div>
        
           
            
        <button type="submit" class="btn btn-primary" id="log-btn-1">
          Submit
        </button>
        <p id="paracontent">
          Don't have an account ? <a id="signup" href="/signup">Register</a>
        </p>
        <p id="forget">
          <a href="/forgetpage" style="color: #fff; text-decoration: none">Forget Password ?</a>
        </p>
      </form>
          <h6 id="myAlert1" class="text-center" style="
              font-family: system-ui;
              color: rgb(117 35 35);
              position: absolute;
              left: 81px;
              bottom: 145px;
              font-size: small;
              display: none;
            "></h6> 

      <% if(regSuccess){ %>
					<div id="myAlert" data-aos="fade-down" style="top: 6rem; display: none;"
									class="alert alert-dark  py-4	 fade show fs-5 fixed-top alt text-center text-white"
							role="alert">
							<span class="text-info link-underline-light"><strong>Welcome!</strong> You are successfully registered your FurniCube account.
								</span>
					</div>
					<% } %>
             
    </dive>
  </div>
  <script>

    const inputs = document.querySelectorAll('input')
    const errorMessage = document.getElementById('myAlert1')
    
    inputs.forEach(input=>{
      input.addEventListener('input',function(){
        errorMessage.textContent = ""
      })
    })
    
    </script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="/user/loginvalidation.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html> 