body {
    background-color: #aed1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    background-color: #1f6f6f;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #198585;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
