body {
    background-color: #aed1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.otp-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #1f6f6f;
    color: #ffff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #198585;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
